<h1>IdeaBox</h1>

<form action="/<%= idea.id %>" method='POST'>
  <p>
  	<% if idea.id %>
    	Edit your Idea:
    <% else %>
    	Your Idea:
    <% end %>
  </p>
  <% if idea.id %>
		<input type="hidden" name="_method" value="PUT" />
	<% end %>
  <section id = "field-name">Name: </section>
  <input id="text-field" type='text' name='idea[title]' value="<%= idea.title %>"/><br/>
  <section id = "field-name">Description: </section>
  <textarea id="text-field" name='idea[description]'><%= idea.description %></textarea><br/>
  <section id = "field-name">Tags: </section>
  <textarea id="text-field" name='idea[tags]'><%= idea.tags.join(',') %></textarea><br/>
  <section id = "field-name">Group: </section>
    <select id="text-field" name="idea[group]">
			    <% groups.each do |group| %>
			      <option value="<%= group["name"] %>"><%= group["name"] %></option>
			    <% end %>
			  </select>
  <input id="text-field" type='submit'/>
</form>
