<section id="display-idea">
	<h2>Name:</h2>
	<div class="display-idea-item"><%= idea.title %></div><br>
	<h2>Description:</h2>
	<div class="display-idea-item"><%= idea.description %></div><br>
	<h2>Tags:</h2>
	<ul>
		<% idea.tags.each do |tag| %>
			<li style="font-size:125%"><%= tag %></li><br>
		<% end %>
	</ul>
	<h2>Group:</h2>
	<div class="display-idea-item"><%= idea.group %></div><br>
</section>

<form id="bottom-button" action="/groups" method="GET">
    <a href="/<%= idea.id %>/edit" class="button" style = "width:721px">Edit</a>
 </form>
